# Tugas dengan dataset public

In [1]:
# import libraries
import numpy as np 
import pandas as pd

In [2]:
# membaca dataset
df = pd.read_csv('dataset/adult.csv')

In [3]:
# Membuat list 'col_names' yang berisi nama-nama kolom untuk DataFrame 'df'.
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship',
            'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']

# Mengubah nama kolom pada DataFrame 'df' dengan list 'col_names'. Setiap elemen pada list 'col_names' akan menjadi nama kolom baru pada DataFrame 'df'.
df.columns = col_names

# Mencetak nama-nama kolom pada DataFrame 'df' setelah diubah.
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [4]:
# menampilkan 5 data teratas
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [5]:
# menampilkan dataset dalam bentuk tuple, dimana elemen pertama berisi banyak baris dan elemen kedua berisi banyak kolom
df.shape

(48842, 15)

In [6]:
# Membuat list dengan nama 'categorical' yang berisi semua kolom dalam DataFrame 'df' yang bertipe data objek (string atau categorical).
categorical = [var for var in df.columns if df[var].dtype=='O']

# Mencetak jumlah variabel kategorikal dalam DataFrame, yang dihitung dengan fungsi len() pada list 'categorical'.
print('Ada {} variabel kategorikal\n'.format(len(categorical)))

# Mencetak nama-nama variabel kategorikal yang ada dalam DataFrame 'df'.
print('Variabel kategorikal adalah :\n\n', categorical)

Ada 9 variabel kategorikal

Variabel kategorikal adalah :

 ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']

In [7]:
# Menampilkan 5 baris pertama dari kolom-kolom yang termasuk dalam list 'categorical' pada DataFrame 'df'.
df[categorical].head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,United-States,<=50K
1,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States,<=50K
2,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,United-States,>50K
3,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,United-States,>50K
4,?,Some-college,Never-married,?,Own-child,White,Female,United-States,<=50K

In [8]:
# cek missing values pada variabel kategorikal

df[categorical].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
income            0
dtype: int64

In [9]:
# Melakukan iterasi untuk setiap variabel dalam list 'categorical'
for var in categorical: 
    
    # Untuk setiap variabel, mencetak jumlah kemunculan setiap nilai unik dalam kolom tersebut di DataFrame 'df'
    print(df[var].value_counts())

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64
education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64
marital_status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64
occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64
relationship
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64
race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64
sex
Male      32650
Female    16192
Name: count, dtype: int64
native_country
United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64
income
<=50K    37155
>50K     11687
Name: count, dtype: int64

In [10]:
# Mengambil nilai unik dari kolom 'workclass' dalam DataFrame 'df'
df.workclass.unique()

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [11]:
# Menghitung dan mencetak jumlah kemunculan setiap nilai unik dalam kolom 'workclass' di DataFrame 'df'
df.workclass.value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [12]:
# Mengganti setiap nilai '?' dalam kolom 'workclass' di DataFrame 'df' dengan nilai NaN dari numpy, perubahan ini langsung diterapkan pada DataFrame 'df' tanpa mengembalikan DataFrame baru
df['workclass'].replace('?', np.NaN, inplace=True)

/var/folders/pj/_qdvh6sd5s11kdpjsbv2nzmm0000gn/T/ipykernel_65544/3067527356.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['workclass'].replace('?', np.NaN, inplace=True)

In [13]:
# periksa kembali distribusi frekuensi nilai dalam variabel kelas kerja

df.workclass.value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [14]:
# periksa label dalam variabel occupation

df.occupation.unique()

array(['Machine-op-inspct', 'Farming-fishing', 'Protective-serv', '?',
       'Other-service', 'Prof-specialty', 'Craft-repair', 'Adm-clerical',
       'Exec-managerial', 'Tech-support', 'Sales', 'Priv-house-serv',
       'Transport-moving', 'Handlers-cleaners', 'Armed-Forces'],
      dtype=object)

In [15]:
# memeriksa distribusi frekuensi nilai dalam variabel occupation

df.occupation.value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [16]:
# ganti nilai '?' dalam variabel occupation dengan `NaN`

df['occupation'].replace('?', np.NaN, inplace=True)

/var/folders/pj/_qdvh6sd5s11kdpjsbv2nzmm0000gn/T/ipykernel_65544/3757362818.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['occupation'].replace('?', np.NaN, inplace=True)

In [17]:
# periksa kembali distribusi frekuensi nilai dalam variabel occupation

df.occupation.value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [18]:
# again check the frequency distribution of values in occupation variable

df.occupation.value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [19]:
# check labels in native_country variable

df.native_country.unique()

array(['United-States', '?', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [20]:
# ganti nilai '?' dalam variabel native_country dengan `NaN`

df['native_country'].replace('?', np.NaN, inplace=True)

/var/folders/pj/_qdvh6sd5s11kdpjsbv2nzmm0000gn/T/ipykernel_65544/2628565781.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['native_country'].replace('?', np.NaN, inplace=True)

In [21]:
# periksa lagi distribusi frekuensi nilai dalam variabel native_country

df.native_country.value_counts()

native_country
United-States                 43832
Mexico                          951
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Laos                             23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

In [22]:
# Menghitung jumlah nilai null atau NaN untuk setiap kolom yang termasuk dalam list 'categorical' pada DataFrame 'df'
df[categorical].isnull().sum()

workclass         2799
education            0
marital_status       0
occupation        2809
relationship         0
race                 0
sex                  0
native_country     857
income               0
dtype: int64

In [23]:
# Melakukan iterasi untuk setiap variabel dalam list 'categorical'
for var in categorical:
    
    # Untuk setiap variabel, mencetak nama variabel, dan jumlah nilai unik (label) dalam kolom tersebut di DataFrame 'df'
    print(var, ' contains ', len(df[var].unique()), ' labels')

workclass  contains  9  labels
education  contains  16  labels
marital_status  contains  7  labels
occupation  contains  15  labels
relationship  contains  6  labels
race  contains  5  labels
sex  contains  2  labels
native_country  contains  42  labels
income  contains  2  labels

In [24]:
# Membuat list dengan nama 'numerical' yang berisi semua kolom dalam DataFrame 'df' yang bertipe data bukan objek (numerik).
numerical = [var for var in df.columns if df[var].dtype!='O']

# Mencetak jumlah variabel numerik dalam DataFrame, yang dihitung dengan fungsi len() pada list 'numerical'.
print('There are {} numerical variables\n'.format(len(numerical)))

# Mencetak nama-nama variabel numerik yang ada dalam DataFrame 'df'.
print('The numerical variables are :', numerical)

There are 6 numerical variables

The numerical variables are : ['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']

In [25]:
# melihat variabel numerik

df[numerical].head()

   age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0   25  226802              7             0             0              40
1   38   89814              9             0             0              50
2   28  336951             12             0             0              40
3   44  160323             10          7688             0              40
4   18  103497             10             0             0              30

In [26]:
# check missing values pada variabel numerik

df[numerical].isnull().sum()

age               0
fnlwgt            0
education_num     0
capital_gain      0
capital_loss      0
hours_per_week    0
dtype: int64

In [27]:
# Membuat DataFrame baru 'X' yang merupakan salinan dari 'df' tetapi tanpa kolom 'income'. Parameter 'axis=1' menunjukkan bahwa kita menghapus kolom, bukan baris.
X = df.drop(['income'], axis=1)

# Membuat Series baru 'y' yang berisi nilai dari kolom 'income' di DataFrame 'df'.
y = df['income']

In [28]:
# Mengimpor fungsi 'train_test_split' dari modul 'model_selection' yang ada di library 'sklearn'. Fungsi ini digunakan untuk membagi data menjadi set training dan set testing.
from sklearn.model_selection import train_test_split

# Membagi data 'X' dan 'y' menjadi set training dan set testing. 30% dari data akan digunakan sebagai set testing (test_size = 0.3). Parameter 'random_state' digunakan untuk memastikan bahwa pembagian data selalu menghasilkan hasil yang sama jika kode dijalankan ulang.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [29]:
# Mencetak bentuk atau dimensi dari DataFrame 'X_train' dan 'X_test'. Hasilnya akan berupa tuple di mana elemen pertama adalah jumlah baris dan elemen kedua adalah jumlah kolom dalam DataFrame tersebut.
X_train.shape, X_test.shape

((34189, 14), (14653, 14))

# Features engineering

In [30]:
# Mencetak tipe data dari setiap kolom dalam DataFrame 'X_train'. Hasilnya akan berupa Series di mana indeksnya adalah nama kolom dan nilai dari setiap indeks adalah tipe data dari kolom tersebut.
X_train.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
dtype: object

In [31]:
# Membuat list dengan nama 'categorical' yang berisi semua kolom dalam DataFrame 'X_train' yang bertipe data objek (string atau categorical).
categorical = [col for col in X_train.columns if X_train[col].dtypes == 'O']

# Mencetak list 'categorical' yang berisi nama-nama kolom kategorikal.
categorical

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country']

In [32]:
# Membuat list dengan nama 'numerical' yang berisi semua kolom dalam DataFrame 'X_train' yang bertipe data bukan objek (numerik).
numerical = [col for col in X_train.columns if X_train[col].dtypes != 'O']

# Mencetak list 'numerical' yang berisi nama-nama kolom numerik.
numerical

['age',
 'fnlwgt',
 'education_num',
 'capital_gain',
 'capital_loss',
 'hours_per_week']

In [33]:
# Menghitung persentase nilai null atau NaN untuk setiap kolom yang termasuk dalam list 'categorical' pada DataFrame 'X_train'. Fungsi isnull() akan menghasilkan DataFrame dengan nilai True (untuk nilai null) dan False (untuk nilai non-null), dan fungsi mean() akan menghitung rata-rata (dalam hal ini, persentase) dari nilai True (null).
X_train[categorical].isnull().mean()

workclass         0.057211
education         0.000000
marital_status    0.000000
occupation        0.057358
relationship      0.000000
race              0.000000
sex               0.000000
native_country    0.017608
dtype: float64

In [34]:
# Melakukan iterasi untuk setiap kolom dalam list 'categorical'
for col in categorical:
    
    # Jika persentase nilai null atau NaN dalam kolom tersebut lebih dari 0
    if X_train[col].isnull().mean()>0:
        
        # Mencetak nama kolom dan persentase nilai null atau NaN dalam kolom tersebut
        print(col, (X_train[col].isnull().mean()))

workclass 0.05721138377840826
occupation 0.05735762964696247
native_country 0.017608002573927285

In [35]:
# Melakukan iterasi untuk setiap DataFrame dalam list [X_train, X_test]
for df2 in [X_train, X_test]:
    
    # Mengisi nilai null atau NaN dalam kolom 'workclass' di DataFrame df2 dengan modus (nilai yang paling sering muncul) dari kolom 'workclass' di DataFrame X_train. Perubahan ini langsung diterapkan pada DataFrame df2.
    df2['workclass'].fillna(X_train['workclass'].mode()[0], inplace=True)
    
    # Mengisi nilai null atau NaN dalam kolom 'occupation' di DataFrame df2 dengan modus dari kolom 'occupation' di DataFrame X_train. Perubahan ini langsung diterapkan pada DataFrame df2.
    df2['occupation'].fillna(X_train['occupation'].mode()[0], inplace=True)
    
    # Mengisi nilai null atau NaN dalam kolom 'native_country' di DataFrame df2 dengan modus dari kolom 'native_country' di DataFrame X_train. Perubahan ini langsung diterapkan pada DataFrame df2.
    df2['native_country'].fillna(X_train['native_country'].mode()[0], inplace=True)

/var/folders/pj/_qdvh6sd5s11kdpjsbv2nzmm0000gn/T/ipykernel_65544/3435338865.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['workclass'].fillna(X_train['workclass'].mode()[0], inplace=True)
/var/folders/pj/_qdvh6sd5s11kdpjsbv2nzmm0000gn/T/ipykernel_65544/3435338865.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['occupation'].fillna(X_train['occupation'].mode()[0], inplace=True)
/var/folders/pj/_qdvh6sd5s11kdpjsbv2nzmm0000gn/T/ipykernel_65544/3435338865.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['native_country'].fillna(X_train['native_country'].mode()[0], inplace=True)

In [36]:
# check missing values pada  variabel kategorikal di X_train

X_train[categorical].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
dtype: int64

In [37]:
# check missing values pada variabel kategorikal di X_test

X_test[categorical].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
dtype: int64

In [38]:
# check missing values di X_train

X_train.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
dtype: int64

In [39]:
# check missing values di X_test

X_test.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
dtype: int64

In [40]:
# tampilkan isi variabel kategorikal 

categorical

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'native_country']

In [41]:
# Menampilkan 5 baris pertama dari kolom-kolom yang termasuk dalam list 'categorical' pada DataFrame 'X_train'.
X_train[categorical].head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country
3833,Local-gov,Some-college,Married-civ-spouse,Adm-clerical,Own-child,White,Female,United-States
34743,Private,10th,Married-civ-spouse,Craft-repair,Own-child,Other,Male,United-States
2022,Self-emp-not-inc,Assoc-voc,Married-civ-spouse,Farming-fishing,Husband,White,Male,United-States
1580,Private,Some-college,Never-married,Exec-managerial,Not-in-family,White,Female,United-States
4612,Private,HS-grad,Separated,Transport-moving,Unmarried,White,Female,United-States

In [42]:
# import library category encoders

import category_encoders as ce

In [43]:
# Membuat objek 'encoder' dari kelas 'OneHotEncoder' yang ada di library 'category_encoders' ('ce'). Parameter 'cols' menentukan kolom-kolom yang akan di-encode.
encoder = ce.OneHotEncoder(cols=['workclass', 'education', 'marital_status', 'occupation', 'relationship', 
                                'race', 'sex', 'native_country'])

# Menggunakan metode 'fit_transform' pada objek 'encoder' untuk melakukan one-hot encoding pada DataFrame 'X_train'. Metode ini akan 'belajar' kategori-kategori dalam data dan sekaligus mengubah kategori-kategori tersebut menjadi format one-hot encoding. Hasilnya disimpan kembali ke 'X_train'.
X_train = encoder.fit_transform(X_train)

# Menggunakan metode 'transform' pada objek 'encoder' untuk melakukan one-hot encoding pada DataFrame 'X_test'. Metode ini hanya mengubah kategori-kategori menjadi format one-hot encoding berdasarkan kategori-kategori yang sudah 'dipelajari' sebelumnya saat metode 'fit_transform' dijalankan. Hasilnya disimpan kembali ke 'X_test'.
X_test = encoder.transform(X_test)

In [44]:
# Menampilkan 5 baris pertama dari DataFrame 'X_train'. Fungsi ini berguna untuk melihat contoh data awal dalam DataFrame.
X_train.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,fnlwgt,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
3833,27,1,0,0,0,0,0,0,0,131310,...,0,0,0,0,0,0,0,0,0,0
34743,42,0,1,0,0,0,0,0,0,367533,...,0,0,0,0,0,0,0,0,0,0
2022,32,0,0,1,0,0,0,0,0,38158,...,0,0,0,0,0,0,0,0,0,0
1580,36,0,1,0,0,0,0,0,0,148903,...,0,0,0,0,0,0,0,0,0,0
4612,29,0,1,0,0,0,0,0,0,359155,...,0,0,0,0,0,0,0,0,0,0

In [45]:
# Mencetak bentuk atau dimensi dari DataFrame 'X_train'. Hasilnya akan berupa tuple di mana elemen pertama adalah jumlah baris dan elemen kedua adalah jumlah kolom dalam DataFrame tersebut.
X_train.shape

(34189, 105)

In [46]:
# Menampilkan 5 baris pertama dari DataFrame 'X_test'. Fungsi ini berguna untuk melihat contoh data awal dalam DataFrame.
X_test.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,fnlwgt,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
38113,36,0,1,0,0,0,0,0,0,65624,...,0,0,0,0,0,0,0,0,0,0
39214,57,0,0,0,0,1,0,0,0,37345,...,0,0,0,0,0,0,0,0,0,0
44248,49,0,1,0,0,0,0,0,0,287647,...,0,0,0,0,0,0,0,0,0,0
10283,54,0,0,1,0,0,0,0,0,183668,...,0,0,0,0,0,0,0,0,0,0
26724,17,0,0,1,0,0,0,0,0,228786,...,0,0,0,0,0,0,0,0,0,0

In [47]:
# Mencetak bentuk atau dimensi dari DataFrame 'X_test'. Hasilnya akan berupa tuple di mana elemen pertama adalah jumlah baris dan elemen kedua adalah jumlah kolom dalam DataFrame tersebut.
X_test.shape

(14653, 105)

# Features Scaling

In [48]:
# Membuat variabel 'cols' yang berisi semua nama kolom dalam DataFrame 'X_train'. Fungsi 'columns' mengembalikan indeks yang berisi label kolom DataFrame.
cols = X_train.columns

In [49]:
# Mengimpor kelas 'RobustScaler' dari modul 'preprocessing' yang ada di library 'sklearn'. 'RobustScaler' adalah metode untuk melakukan scaling pada data dengan menggunakan teknik yang lebih tahan terhadap outlier.
from sklearn.preprocessing import RobustScaler

# Membuat objek 'scaler' dari kelas 'RobustScaler'.
scaler = RobustScaler()

# Menggunakan metode 'fit_transform' pada objek 'scaler' untuk melakukan scaling pada DataFrame 'X_train'. Metode ini akan 'belajar' statistik dari data (median dan interquartile range) dan sekaligus mengubah data tersebut menjadi format yang telah discaling. Hasilnya disimpan kembali ke 'X_train'.
X_train = scaler.fit_transform(X_train)

# Menggunakan metode 'transform' pada objek 'scaler' untuk melakukan scaling pada DataFrame 'X_test'. Metode ini hanya mengubah data menjadi format yang telah discaling berdasarkan statistik yang sudah 'dipelajari' sebelumnya saat metode 'fit_transform' dijalankan. Hasilnya disimpan kembali ke 'X_test'.
X_test = scaler.transform(X_test)

In [50]:
# Mengubah 'X_train' yang berupa array numpy menjadi DataFrame pandas dengan menggunakan fungsi 'pd.DataFrame'. Parameter 'columns' digunakan untuk menentukan nama kolom dari DataFrame baru tersebut. Nama kolom diambil dari variabel 'cols'. Hasilnya disimpan kembali ke 'X_train'.
X_train = pd.DataFrame(X_train, columns=[cols])

In [51]:
# Mengubah 'X_test' yang berupa array numpy menjadi DataFrame pandas dengan menggunakan fungsi 'pd.DataFrame'. Parameter 'columns' digunakan untuk menentukan nama kolom dari DataFrame baru tersebut. Nama kolom diambil dari variabel 'cols'. Hasilnya disimpan kembali ke 'X_test'.
X_test = pd.DataFrame(X_test, columns=[cols])

In [52]:
# Menampilkan 5 baris pertama dari DataFrame 'X_train'. Fungsi ini berguna untuk melihat contoh data awal dalam DataFrame.
X_train.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,fnlwgt,...,native_country_32,native_country_33,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41
0,-0.50,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.387237,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.575857,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.25,0.0,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,-1.161362,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.241033,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.506233,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Model Training

In [53]:
# Mengimpor kelas 'GaussianNB' dari modul 'naive_bayes' yang ada di library 'sklearn'. 'GaussianNB' adalah implementasi algoritma Naive Bayes dengan asumsi distribusi Gaussian pada fitur.
from sklearn.naive_bayes import GaussianNB

# Membuat objek 'gnb' dari kelas 'GaussianNB'.
gnb = GaussianNB()

# Menggunakan metode 'fit' pada objek 'gnb' untuk melatih model dengan data 'X_train' sebagai fitur dan 'y_train' sebagai target. Metode ini akan 'belajar' dari data dan menghasilkan model Naive Bayes.
gnb.fit(X_train, y_train)

GaussianNB()

In [54]:
# Menggunakan metode 'predict' pada objek 'gnb' untuk melakukan prediksi dengan data 'X_test' sebagai fitur. Hasil prediksi disimpan dalam variabel 'y_pred'.
y_pred = gnb.predict(X_test)

# Mencetak nilai 'y_pred' yang berisi hasil prediksi model Naive Bayes pada data 'X_test'.
y_pred

array(['<=50K', '>50K', '>50K', ..., '<=50K', '<=50K', '<=50K'],
      dtype='<U5')

# Akurasi Model

In [55]:
# Mengimpor fungsi 'accuracy_score' dari modul 'metrics' yang ada di library 'sklearn'. 'accuracy_score' digunakan untuk menghitung akurasi model klasifikasi.
from sklearn.metrics import accuracy_score

# Menggunakan fungsi 'accuracy_score' untuk menghitung akurasi model dengan 'y_test' sebagai target sebenarnya dan 'y_pred' sebagai target hasil prediksi. Hasil akurasi dicetak dengan format desimal hingga 4 angka di belakang koma.
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.8057

In [56]:
# Menggunakan metode 'predict' pada objek 'gnb' untuk melakukan prediksi dengan data 'X_train' sebagai fitur. Hasil prediksi disimpan dalam variabel 'y_pred_train'.
y_pred_train = gnb.predict(X_train)

# Mencetak nilai 'y_pred_train' yang berisi hasil prediksi model Naive Bayes pada data 'X_train'.
y_pred_train

array(['<=50K', '<=50K', '>50K', ..., '>50K', '<=50K', '>50K'],
      dtype='<U5')

In [57]:
# Menggunakan fungsi 'accuracy_score' untuk menghitung akurasi model dengan 'y_train' sebagai target sebenarnya dan 'y_pred_train' sebagai target hasil prediksi pada data latih. Hasil akurasi dicetak dengan format desimal hingga 4 angka di belakang koma.
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))

Training-set accuracy score: 0.8072

In [58]:
# Menggunakan metode 'score' pada objek 'gnb' untuk menghitung akurasi model pada data latih. Parameter pertama adalah fitur dan parameter kedua adalah target. Hasil akurasi dicetak dengan format desimal hingga 4 angka di belakang koma.
print('Training set score: {:.4f}'.format(gnb.score(X_train, y_train)))

# Menggunakan metode 'score' pada objek 'gnb' untuk menghitung akurasi model pada data uji. Parameter pertama adalah fitur dan parameter kedua adalah target. Hasil akurasi dicetak dengan format desimal hingga 4 angka di belakang koma.
print('Test set score: {:.4f}'.format(gnb.score(X_test, y_test)))

Training set score: 0.8072
Test set score: 0.8057

In [59]:
# Menggunakan metode 'value_counts' pada objek 'y_test' untuk menghitung jumlah kemunculan setiap nilai unik dalam Series tersebut. Hasilnya akan berupa Series di mana indeksnya adalah nilai unik dari 'y_test' dan nilai dari setiap indeks adalah jumlah kemunculan nilai tersebut.
y_test.value_counts()

income
<=50K    11138
>50K      3515
Name: count, dtype: int64

In [60]:
# Menghitung 'null accuracy', yaitu akurasi yang bisa dicapai oleh model yang selalu memprediksi kelas mayoritas. Dalam hal ini, kelas mayoritas adalah 7407 dan total data adalah 7407+2362. Hasilnya disimpan dalam variabel 'null_accuracy'.
null_accuracy = (7407/(7407+2362))

# Mencetak 'null accuracy' dengan format desimal hingga 4 angka di belakang koma.
print('Null accuracy score: {0:0.4f}'. format(null_accuracy))

Null accuracy score: 0.7582